name: Docker Test Run
on:
  push:
    branches: [ "master" ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ "master" ]
  schedule:
    - cron: '36 22 * * 2'
    
jobs:
    compile:
        name: Compile tmux config
        runs-on: ubuntu-latest
        steps:
          - name: Check out the repo
            uses: actions/checkout@v3.3.0
          - name: Run the build process with Docker
            uses: addnab/docker-run-action@v3
            with:
                image: ${{ github.workspace }}/Dockerfile
