name: Build Tmux from source in Docker
on:
  push:
    branches: [ "master", "main", "dev", "dev-test" ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ "master", " main", "dev", "dev-test" ]
  schedule:
    - cron: '36 22 * * 2'

jobs:
    compile_tmux_v36a:
        name: Compile tmux v3.6a
        runs-on: ubuntu-latest
        steps:
          - name: Check out the repository - v3.6a
            uses: actions/checkout@main
          - name: Run the build process - v3.6a
            run: docker build . --file Dockerfile-v3.6a --tag tmux-config-test-v3.6a:$(date +%s)
            
    compile_tmux_v36:
        name: Compile tmux v3.6
        runs-on: ubuntu-latest
        steps:
          - name: Check out the repository - v3.6
            uses: actions/checkout@main
          - name: Run the build process - v3.6
            run: docker build . --file Dockerfile-v3.6 --tag tmux-config-test-v3.6:$(date +%s)
            
    compile_tmux_v35a:
        name: Compile tmux v3.5a
        runs-on: ubuntu-latest
        steps:
          - name: Check out the repository - v3.5a
            uses: actions/checkout@main
          - name: Run the build process - v3.5a
            run: docker build . --file Dockerfile-v3.5a --tag tmux-config-test-v3.5a:$(date +%s)

    compile_tmux_v35:
        name: Compile tmux v3.5
        runs-on: ubuntu-latest
        steps:
          - name: Check out the repository - v3.5
            uses: actions/checkout@main
          - name: Run the build process - v3.5
            run: docker build . --file Dockerfile-v3.5 --tag tmux-config-test-v3.5:$(date +%s)

    compile_tmux_v34:
        name: Compile tmux v3.4
        runs-on: ubuntu-latest
        steps:
          - name: Check out the repository - v3.4
            uses: actions/checkout@main
          - name: Run the build process - v3.4
            run: docker build . --file Dockerfile-v3.4 --tag tmux-config-test-v3.4:$(date +%s)

    compile_tmux_v33a:
        name: Compile tmux v3.3a
        runs-on: ubuntu-latest
        steps:
          - name: Check out the repository - v3.3a
            uses: actions/checkout@main
          - name: Run the build process - v3.3a
            run: docker build . --file Dockerfile-v3.3a --tag tmux-config-test-v3.3a:$(date +%s)

    compile_tmux_v33:
        name: Compile tmux v3.3
        runs-on: ubuntu-latest
        steps:
          - name: Check out the repository - v3.3
            uses: actions/checkout@main
          - name: Run the build process - v3.3
            run: docker build . --file Dockerfile-v3.3 --tag tmux-config-test-v3.3:$(date +%s)

    compile_tmux_v32a:
        name: Compile tmux v3.2a
        runs-on: ubuntu-latest
        steps:
          - name: Check out the repository - v3.2a
            uses: actions/checkout@main
          - name: Run the build process - v3.2a
            run: docker build . --file Dockerfile-v3.2a --tag tmux-config-test-v3.2a:$(date +%s)

    compile_tmux_v32:
        name: Compile tmux v3.2
        runs-on: ubuntu-latest
        steps:
          - name: Check out the repository - v3.2
            uses: actions/checkout@main
          - name: Run the build process - v3.2
            run: docker build . --file Dockerfile-v3.2 --tag tmux-config-test-v3.2:$(date +%s)

    compile_tmux_v31c:
        name: Compile tmux v3.1c
        runs-on: ubuntu-latest
        steps:
          - name: Check out the repository - v3.1c
            uses: actions/checkout@main
          - name: Run the build process - v3.1c
            run: docker build . --file Dockerfile-v3.1c --tag tmux-config-test-v3.1c:$(date +%s)

    compile_tmux_v31b:
        name: Compile tmux v3.1b
        runs-on: ubuntu-latest
        steps:
          - name: Check out the repository - v3.1b
            uses: actions/checkout@main
          - name: Run the build process - v3.1b
            run: docker build . --file Dockerfile-v3.1b --tag tmux-config-test-v3.1b:$(date +%s)

    compile_tmux_v31a:
        name: Compile tmux v3.1a
        runs-on: ubuntu-latest
        steps:
          - name: Check out the repository - v3.1a
            uses: actions/checkout@main
          - name: Run the build process - v3.1a
            run: docker build . --file Dockerfile-v3.1a --tag tmux-config-test-v3.1a:$(date +%s)

    compile_tmux_v31:
        name: Compile tmux v3.1
        runs-on: ubuntu-latest
        steps:
          - name: Check out the repository - v3.1
            uses: actions/checkout@main
          - name: Run the build process - v3.1
            run: docker build . --file Dockerfile-v3.1 --tag tmux-config-test-v3.1:$(date +%s)

    compile_tmux_v30a:
        name: Compile tmux v3.0a
        runs-on: ubuntu-latest
        steps:
          - name: Check out the repository - v3.0a
            uses: actions/checkout@main
          - name: Run the build process - v3.0a
            run: docker build . --file Dockerfile-v3.0a --tag tmux-config-test-v3.0a:$(date +%s)

    compile_tmux_v30:
        name: Compile tmux v3.0
        runs-on: ubuntu-latest
        steps:
          - name: Check out the repository - v3.0
            uses: actions/checkout@main
          - name: Run the build process - v3.0
            run: docker build . --file Dockerfile-v3.0 --tag tmux-config-test-v3.0:$(date +%s)

    compile_tmux_v29a:
        name: Compile tmux v2.9a
        runs-on: ubuntu-latest
        steps:
          - name: Check out the repository - v2.9a
            uses: actions/checkout@main
          - name: Run the build process - v2.9a
            run: docker build . --file Dockerfile-v2.9a --tag tmux-config-test-v2.9a:$(date +%s)

    compile_tmux_v29:
        name: Compile tmux v2.9
        runs-on: ubuntu-latest
        steps:
          - name: Check out the repository - v2.9
            uses: actions/checkout@main
          - name: Run the build process - v2.9
            run: docker build . --file Dockerfile-v2.9 --tag tmux-config-test-v2.9:$(date +%s)

    compile_tmux_v28:
        name: Compile tmux v2.8
        runs-on: ubuntu-latest
        steps:
          - name: Check out the repository - v2.8
            uses: actions/checkout@main
          - name: Run the build process - v2.8
            run: docker build . --file Dockerfile-v2.8 --tag tmux-config-test-v2.8:$(date +%s)

    compile_tmux_v27:
        name: Compile tmux v2.7
        runs-on: ubuntu-latest
        steps:
          - name: Check out the repository - v2.7
            uses: actions/checkout@main
          - name: Run the build process - v2.7
            run: docker build . --file Dockerfile-v2.7 --tag tmux-config-test-v2.7:$(date +%s)

    compile_tmux_v26:
        name: Compile tmux v2.6
        runs-on: ubuntu-latest
        steps:
          - name: Check out the repository - v2.6
            uses: actions/checkout@main
          - name: Run the build process - v2.6
            run: docker build . --file Dockerfile-v2.6 --tag tmux-config-test-v2.6:$(date +%s)

    compile_tmux_v25:
        name: Compile tmux v2.5
        runs-on: ubuntu-latest
        steps:
          - name: Check out the repository - v2.5
            uses: actions/checkout@main
          - name: Run the build process - v2.5
            run: docker build . --file Dockerfile-v2.5 --tag tmux-config-test-v2.5:$(date +%s)

    compile_tmux_v24:
        name: Compile tmux v2.4
        runs-on: ubuntu-latest
        steps:
          - name: Check out the repository - v2.4
            uses: actions/checkout@main
          - name: Run the build process - v2.4
            run: docker build . --file Dockerfile-v2.4 --tag tmux-config-test-v2.4:$(date +%s)
